{% extends 'base.admin.html.twig' %}

{% block title %}Editer le profil de {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block page %}
        <div class="pagetitle">
      <h1>Inscription</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Liste</a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div>
{% endblock %}

{% block body %}
    
              <!-- List group With Icons -->

            <div class="card p-4">
            <div class="container">
            <div class="row g-3 needs-validation" novalidate>

              {{ form(form) }}
            </div><br>
              <div><a href="{{ path("admin_user_detail", {"id": user.id}) }}" class="btn btn-outline-dark">Retour</a></div>
            </div>
            </div>
{% endblock %}
