
<h4>
    <p>Dans de nombreux pays, les savoirs et savoir-faire des sociétés traditionnelles ont été pendant longtemps 
rangés dans le registre des pseudosciences. Il a fallu attendre plusieurs années pour que l’humanité comprenne 
que toutes les sciences devraient coexister dans une relation de dialogue. A ce sujet, Velden (2006: 4) notait si 
bien que «toutes les sciences rivales doivent se rassembler dans une heuristique dialogique ». Les savoirs et 
savoir-faire des sociétés traditionnelles ne doivent pas être occultés au nom d’une «vérité scientifique»qui fonde 
son pouvoir que sur le rationnel. Brokensha et al. (1980), le relevaient en ces termes :
</p><br></h4>
<div class="content">
    <h5><p><em>« Intégrer les savoirs locaux dans la planification du développement est une courtoisie à l’endroit des populations 
concernées, un premier pas décisif vers un développement véritable … Intégrer les savoirs locaux dans la planification 
du développement préserve un précieux savoir local, encourage les communautés de base à dresser leur propre 
diagnostic … ».</em></p></h5><br>
</div>

<div class="content">
    <h4><p>Dans la même perspective, Dialla (2005), démontraitque les savoirs locaux représentent un pan important 
de la culture des communautés rurales et constituent de ce fait, un capital qui a des vertus potentielles à même 
d’impulser le développement. Gregory Knight (1974, p.260-261) de rappeler « la nécessité d’apprécier la pensée 
d’une société comme étant un corps de connaissance cohérent et rationnel, développé et prouvé pendant des temps 
immémoriaux, et légué comme culture à des générations successives… »</p></h4>

<h4><p>Il apparait que ces savoirs connaissent plusieurs appellations : savoirs locaux, savoirs indigènes, savoirs 
autochtones, savoirs traditionnels, savoirs paysans, ethnosciences, écologiepopulaire, sciencevillageoise, savoirs 
endogènes…Ils font partie intégrante d’un système culturel et embrassent plusieurs domaines tels que les 
sciences de la vie et de la terre, la physique, la chimie, la foresterie, l’écologie, l’agronomie, horticulture, 
l’économie agricole, la géographie, les pratiques et objets culturels, les rituels, la culture spirituelle liée aux 
mythes et philosophies, l’art, la littérature…</p></h4>

<h4><p>L'UNESCO (2003), préfère les termes savoirs locaux pour désigner les ensembles cumulatifs et 
complexes de savoir, savoir-faire, pratiques et représentations qui sont perpétués et développés par des personnes 
ayant une longue histoire d'interaction avec leur environnement naturel. La FAO (2002) s’inscrit dans la même 
perspective, en les définissant comme un ensemble de faits lié au système de concepts, de croyances et de 
conceptions que les populations puisent dans le monde qui les entoure. Cela comprend la façon dont les 
populations observent et mesurent leur environnement, comment elles résolvent leurs problèmes et assimilent les 
nouvelles informations. L’Organisation Mondiale pour la Propriété Intellectuelle (OMPI), elle, fait une distinction 
entre savoir indigène et savoir traditionnel en ces termes :</p><br></h4>

<h5><p><em>« Le savoir indigène est le savoir détenu et utilisé par une population qui se considère comme autochtone d’un endroit, 
compte tenu de ses différences culturelles et du fait qu’elles ont été les premiers occupants du territoire par rapport à une population arrivée plus récemment et dotée de sa propre culture distincte, devenuedominante. Le savoir traditionnel, 
en revanche, est celui que possèdent les membres d’une culture distincte ou qu’ils ont parfois acquis par leurs propres 
moyens, et qui concerne la culture elle-même ou l’environnement local où elle existe ». (OMPI / CIPI, 2002, annexe 3, 
p.18). Et de conclure que «le savoir indigène s’intègre parfaitement dans la catégorie du savoir traditionnel alors que le 
savoir traditionnel n’est pas nécessairement indigène ».</em></p><br></h5>

<h4><p>Hountondji, Paulin J. (1994) récuse l’utilisation de l’adjectif « traditionnel », qui, de son avis, donne 
l’impression d’un ordre ancien demeuré tel quel, immuable, une manière de penser héritée d’une longue pratique 
ethnologique, et opposée souvent à « moderne». Il explique que «les savoirs locaux ou «traditionnels » 
désignent ceux dont on a l’expérience dans nos traditions orales et qui apparaissent sous la forme « des corpus de 
connaissances parfois très élaborés, fidèlement transmis d’une génération à l’autre et s’enrichissant souvent au 
cours de cette transmission. »(Dany Rondeau, 2015, p. 27-48). Il porte sa préférence au terme «endogène » qui 
ferait mieux ressortir la dimension dynamique des savoirs particuliers aux cultures, leur inscription et 
enrichissement dans une histoire». Ce mot, soutient-il, a l’avantage d’insister sur « l’origine des savoirs en 
question en les désignant comme des produits internes tirés du fonds culturel propre, par opposition aux savoirs 
exogènes, importés d’ailleurs » (Hountondji, Paulin J. 1994: p.1-34). Il renonce donc à l’appellation « savoir 
traditionnel » pour celle de « savoir endogène ». On appellera donc « savoir endogène », dans une configuration 
culturelle donnée, une connaissance vécue par la société comme partie intégrante de son héritage, par opposition 
aux savoirs exogènes qui sont encore perçus, à ce stade au moins, comme des éléments d’un autre système de 
valeurs.</p></h4>
<h4><p>Une certitude : quelle que soit l’appellation que nous choisissons, ces savoirs sont encore considérés, par 
certains chercheurs, comme étant des savoirs du «charlatan, guérisseur, indigène ». Pourtant, beaucoup s’en 
servent (les chercheurs du monde moderne) pour effectuer des expérimentations scientifiques et avoir la 
reconnaissance de leurs pairs. Pour Moussavou (2012, p. 239) : «… le secret entourant ces pratiques constitue 
un obstacle en ce qui concerne l'accès aux savoirs endogènes ». Mais Carole Barthélémy(2005) constate que les 
savoirs locaux sont de plus en plus sollicités dans les démarches scientifiques interdisciplinaires ou dans des 
exercices de gestion de la nature. Et les différents cénacles mondiaux reconnaissent de plus en 
plus l'importance de ces savoirs endogènes. Il existe des lois, déclarations et conventions sur ces savoirs aux plans 
international et national.</p><br></h4>

<h4><p>Pour ne citer, que les engagements au plan international :</p></h4>
<div class="card p-5">
    <div class="content"> <h4>
        <em>
     <li>la conférence des Nations unies sur l’environnement et le développement, plus connue sous le nom 
de sommet de la Terre de Rio de Janeiro, (Juin 1992), connue sous le nom de Sommet "planète Terre" et 
dont est issu l’Agenda 21 qui invite la communauté internationale à faire un inventaire des savoirs locaux, 
comme un tremplin pour le développement. Elle a fait en sorte que dans la notion de développement 
durable soit prise en compte les pratiques dites autochtones (ou savoirs locaux) ;</li><br>

<li>la première session de la Commission des Nations Unies sur le développement durable, instituée dans le 
cadre du suivi de la Conférence de Rio sur l’environnement et le développement, New York, Juin 1993;</li><br>

<li>les initiatives du Secrétariat Exécutif du Comité Permanent Inter-Etats de Lutte contre la Sécheresse 
(CILSS) au Burkina Faso sur «l'impact des savoirs locaux et des stratégies traditionnelles de gestion des ressources sur la prévention ou la réduction du processus de dégradation des terres et de désertification 
en Afrique (Caire, 3-5 Janvier 1994) ;</li><br>

<li>le programme de la Banque Mondiale sur les « savoirs locaux au service du développement à base 
communautaire dans ses programmes en 1998. Ce programme a abouti à la publication du document 
«les connaissances autochtones : des approches locales pour un développement global »;</li><br>

<li>le rapport de la deuxième session du Comité intergouvernemental de l’Organisation mondiale de la 
Propriété intellectuelle (OMPI) à Genève, 10 – 14 décembre 2001, relative aux ressources génétiques, 
aux savoirs traditionnels et au folklore ;  </li><br>

<li>le forum organisé en 2003 par le Centre international d’Etudes pour la Conservation et la Restauration 
des biens culturels (ICCROM)1
sur «le patrimoine religieux vivant : conservation du sacré »;</li><br>

<li>la résolution de l’Assemblée générale du Conseil international des Monuments et des Sites (ICOMOS) 
de 2005appelant à «l’établissement d’un programme international thématique sur la question du 
patrimoine religieux»;</li><br>

<li>la résolution de l’Assemblée générale de l’ICOMOS2
de 2011sur la protection et la valorisation des sites 
sacrés du patrimoine, des bâtiments et des paysages, ainsi que le Programmes de l’UNESCO sur la 
conservation et la gestion des sites naturels sacrés ;</li><br>

<li>la Loi sur la Déclaration des Nations Unies sur les droits des peuples autochtones (21 juin 2021). Cette 
déclaration, dans son article 14précise : « Les peuples autochtones ont le droit d’établir et de contrôler 
leurs propres systèmes et établissements scolaires où l’enseignement est dispensé dans leur propre 
langue, d’une manière adaptée à leurs méthodes culturelles d’enseignement et d’apprentissage »</li>
</h4>
</div>
<h4><br><p>Les législations nationales de certains pays africains prennent en compte les droits des populations locales et 
autochtones détentrices de connaissances, d’innovations et de pratiques traditionnelles. Ces initiatives concernent 
les secteurs de la santé, de l’agriculture, de l’éducation, la gestion des ressources naturelles, les affaires culturelles, 
du vivre ensemble... </p></em></h4>
    </div>
</div>
<h4><br> Pour ne citer que :</h4>
<ul>
    <h5><li><i class="ri-check-double-line"></i> les réflexions au Sénégal avec plus de 400 guérisseurs traditionnels pour partager leurs méthodes et 
comparer l’efficacité de leurs soins avec les diagnostics de la médecine moderne ;</li>
    <li><i class="ri-check-double-line"></i> les recherches ethnobotaniques sur les utilisations traditionnelles du vaste patrimoine des plantes du 
Cameroun, effectuées par le Natural Product Research Fondation, sous l’égide de l’OUA ;</li>
    <li><i class="ri-check-double-line"></i> l’institution au Bénin, en 1997, du 10 janvier comme jour de laFête nationale du vodun, devenue par la 
suite laFête nationale des religions endogènes ;</li>
    <li><i class="ri-check-double-line"></i> les actions entreprisesau Burkina Faso par des personnes morales et physiques dans des domaines variés: 
conservation et restauration des sols par le biais des cordons pierreux, le zaï et les demi-lunes ;</li>
    <li><i class="ri-check-double-line"></i> la reconnaissance au Burkina Faso en 2015 de 17 Trésors humains vivants (THV) qui sont des 
personnalités détentrices de savoirs et savoir-faire traditionnels ;</li>
    <li><i class="ri-check-double-line"></i> la conviction est désormais faite que c’est dans ces savoirs que ce trouve la clé du développement
endogène. Cette « (...) capacité d’objectiver et d'articuler nos perceptions culturelles dans la matière.</li>
</ul>
<hr>
<p>
    1 L'ICCROM est une organisation intergouvernementale au service de ses États membres qui promeut la conservation du 
patrimoine culturel sous toutes ses formes et dans le monde entier. 
</p>
<p>2 Le Conseil international des monuments et des sites ou ICOMOS est une association mondiale de professionnels qui se 
consacre à la conservation et à la protection des monuments, des ensembles et des sites du patrimoine culturel.

technique et réciproquement ; de puiser dans les techniques pour renforcer notre auto-identification et 
notre intercommunication. » (J. KI-Zerbo, 2010: 110).
C’est pourquoi, le thème de ce colloque en plus d’être pertinent est très actuel. Il offre l’occasion aux 
chercheurs, enseignants chercheurs, organisations à base communautaire, ONG, trésors humains vivants et autres
détenteurs de savoirs de se parler, d’échanger des informations utiles, pouvant véritablement impulser une 
dynamique dedéveloppement durable.</p>

