<div class="conatiner">
    <h2>Ce premier colloque est organisé selon huit axes :</h2><br>
    <h4>
        <em>
            <ul>
        <li><i class="ri-check-double-line"></i>Axe 1 : Savoirs endogènes, préservation de la biodiversité et gestion durable des terres : restauration, conservation, protection et valorisation…</li>
        <li><i class="ri-check-double-line"></i>Axe 2 : Savoirs endogènes pour comprendre les mathématiques, la chimie et la physique.</li>
        <li><i class="ri-check-double-line"></i>Axe 3 : Langues nationales et intégration des savoirs locaux dans le système éducatif.</li>
        <li><i class="ri-check-double-line"></i>Axe 4 : Savoirs endogènes, croyances et spiritualités</li>
        <li><i class="ri-check-double-line"></i>Axe 5 : Savoirs endogène, pharmacopée et médecine</li>
        <li><i class="ri-check-double-line"></i>Axe 6 : Savoirs endogènes et développement socioéconomique. </li>
        <li><i class="ri-check-double-line"></i>Axe 7 : Savoirs endogènes, sciences juridiques et politiques.</li>
        <li><i class="ri-check-double-line"></i>Axe 8 : Savoirs endogènes dans le domaine des arts et lettres</li>
    </ul>
        </em>
    </h4>

</div>