<div class="card p-5">
	<div class="content">
		<em>
			<h4>1.	Mahamadé Sawadogo, Professeur Titulaire en philosophie morale et politique - Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso</h4>
			<h4>2.	Sanogo Rokia, Professeure titulaire en Pharmacognosie, Université des Sciences, des Techniques et des Technologies de Bamako, Mali</h4>
			<h4>3.	Houngnihin Roch, Professeur Titulaire en Anthropologue de la Santé, Université Abomey Calavi, Cotonou, Bénin</h4>
			<h4>4.	Hien Sié, Professeur Titulaire en Ethnomusicologie, Université, Félix Houphouët-Boigny, Cocody, Abidjan, Côte d’Ivoire</h4>
			<h4>5.	Guissou/Sougotti Kuilpoko Marie Laure, Professeure Titulaire en Biologie et Ecologie Végétales, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>6.	Guissou Innocent Pierre, Professeur titulaire en Pharmacologie-Toxicologie, Agrégé de Pharmacie, Université Saint Thomas d'Aquin (USTA), Ouagadougou, Burkina Faso</h4>
			<h4>7.	Kibora Ouhonyioué Ludovic, Directeur de Recherche en Anthropologie sociale et culturelle, INSS/CNRST, Ouagadougou, Burkina Faso</h4>
			<h4>8.	Ouattara Vincent, Professeur Titulaire en Culturologie, Cultures et littératures africaines écrites, Université Norbert Zongo, Koudougou, Burkina Faso.</h4>
			<h4>9.	Basga Dialla Emile, Maître de Recherche en Sociologie, Ouagadougou, Burkina Faso</h4>
			<h4>10.	Ouattara Fréderic, Professeur Titulaire en Physique, Hélio physique, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>11.	Moumoula Issa Abdou, Professeur Titulaire en Psychologie de l’orientation, Université Norbert Zongo, Koudougou, Burkina Faso.</h4>
			<h4>12.	Sawadogo François, Maître de Conférences en Psychologie cognitive des apprentissages, Université Norbert Zongo, Koudougou, Burkina Faso.</h4>
			<h4>13.	Somé Magloire, Professeur Titulaire en Histoire religieuse contemporaine, Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso</h4>
			<h4>14.	Gomgnimbou Moustapha, Directeur de Recherche en Histoire, CNRST/INSS, Ouagadougou, Burkina Faso.</h4>
			<h4>15.	Sedogo Vincent, Maître de Recherche en Histoire Africaine, CNRST/INSS, Ouagadougou, Burkina Faso</h4>
			<h4>16.	Ouédraogo Alain, Maître de Recherche, Linguistique, CNRST/INSS, Ouagadougou, Burkina Faso Ouagadougou, Burkina Faso</h4>
			<h4>17.	Somé Zomomenibé Maxime, Professeur Titulaire en linguistique, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>18.	Sanogo Mamadou Lamine, Directeur de Recherche en Sociolinguistique, INSS/CNRST, Ouagadougou, Burkina Faso</h4>
			<h4>19.	Sanou Salaka, Professeur Titulaire en Littératures africaines, Ouagadougou, Burkina Faso</h4>
			<h4>20.	Georges Sawadogo, Professeur Titulaire en Lettres et Sciences Humaines, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>21.	Dakouo Yves, Professeur Titulaire en Sciences du langage, Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso</h4>
			<h4>22.	Ouédraogo Albert, Professeur Titulaire en Littérature orale, Ouagadougou, Burkina Faso</h4>
			<h4>23.	Sissao Alain, Directeur de recherche en Littérature africaine, INSS/CNSRT, Ouagadougou, Burkina Faso</h4>
			<h4>24.	Kouakou Jean Marie Gaudouh, Professeur Titulaire en Littérature et civilisation françaises, Université, Félix Houphouët-Boigny, Cocody, Abidjan, Côte d’Ivoire
			</h4>
			<h4>25.	Kamaté Banhouman est Professeur Titulaire en Actions Culturelles et Arts du Spectacle, Université, Félix Houphouët-Boigny, Cocody, Abidjan, Côte d’Ivoire
			</h4>
			<h4>26.	Konan Yao Lambert, Professeur Titulaire en Littérature orale africaine, Université Alassane OUATTARA, Bouaké, Côte d’Ivoire</h4>
			<h4>27.	Djah Célestin Dadié, Professeur Titulaire en Littérature, Université Alassane OUATTARA, Bouaké, Côte d’Ivoire</h4>
			<h4>28.	Sare/Mare Honorine, Maître de Conférences en Littérature, roman, Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso</h4>
			<h4>29.	Paré/Kaboré Afsata, Professeur Titulaire en Sciences de l’Education, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>30.	Valléan Tindaogo Félix, Professeur Titulaire en Sciences de l’Education, Ecole Normale Supérieure, Koudougou, Burkina Faso</h4>
			<h4>31.	Bationo Jean-Claude, Professeur Titulaire en Didactique des Langues et des Cultures, Ecole Normale Supérieure, Burkina Faso</h4>
			<h4>32.	Traoré Kalifa, Professeur Titulaire en Didactique des mathématiques, Ecole Normale Supérieure, Koudougou, Burkina Faso</h4>
			<h4>33.	Gbongué Jean-Baptiste, Professeur Titulaire des Sciences de l’éducation, IPNETP-Abidjan
			</h4>
			<h4>34.	Maiga Windkouni Haoua Eugenie, Professeure Titulaire, Economie du développement, Agrégée en Economie, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>35.	Ouédraogo Mahamadou Lamine, Professeur Titulaire en Sciences du Langage, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>36.	Pitroipa Bangre Yamba, Professeur Titulaire, Sociolinguistique et Ethnolinguistique, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>37.	Ouédraogo Amadé, Professeur Titulaire en Biologie et écologie végétales, Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso</h4>
			<h4>38.	Ouoba Paulin, Maître de Conférences en Biologie et écologie végétales, Université Nazi Boni, Bobo Dioulasso, Burkina Faso</h4>
			<h4>39.	Bassané Ernest, Maître de Conférences en Culturologie, Culture et littératures africaines, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>40.	Yaméogo Kandayinga Landry Guy Gabriel, Maître de Conférences en Sciences du Langage Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>41.	Zongo Alain Casimir, Maître de Conférences en Philosophie, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>42.	Sory Issa, Maître de Conférences en Géographie urbaine, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>43.	Edwige Zagré/Kaboré, Maître de Conférences en Histoire de l’art, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>44.	Adama Tomé, Maître de Conférences en Histoire de l’art, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>45.	Aboubacar BARRY, Maître de Conférences en Psychologie clinique et Psychopathologie, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
			<h4>46.	Bougouma Moussa, Maître de Conférences en Chimie Physique et Electrochimie, Université Norbert ZONGO, Koudougou, Burkina Faso</h4>
		</em>
	</div>
</div>
