<div class="card p-5">
    <div class="content">
        <em>
            <h5>1. Mahamadé Sawadogo, Professeur Titulaire en philosophie morale et politique - Université Joseph Ki-Zerbo, 
Ouagadougou, Burkina Faso</h5>
<h5>2. Sanogo Rokia, Professeure titulaire en Pharmacognosie, Université des Sciences, des Techniques et des Technologies 
de Bamako, Mali</h5>
<h5>3. Houngnihin Roch, Professeur Titulaire en Anthropologue de la Santé, Université Abomey Calavi, Cotonou, Bénin
</h5>
<h5>4. Hien Sié, Professeur Titulaire en Ethnomusicologie, Université, Félix Houphouët-Boigny, Cocody, Abidjan, Côte 
d’Ivoire</h5>
<h5>5. Guissou/Sougotti Kuilpoko Marie Laure, Professeure Titulaire en Biologie et Ecologie Végétales, Université Norbert 
ZONGO, Koudougou, Burkina Faso</h5>
<h5>6. Guissou Innocent Pierre, Professeur titulaire en Pharmacologie-Toxicologie, Agrégé de Pharmacie, Université Saint 
Thomas d'Aquin(USTA), Ouagadougou, Burkina Faso</h5>
<h5>7. Kibora Ouhonyioué Ludovic, Directeur de Recherche en Anthropologie sociale et culturelle, INSS/CNRST, 
Ouagadougou, Burkina Faso</h5>
<h5>8. Basga Dialla Emile, Maître de Recherche en Sociologie, Ouagadougou, Burkina Faso
</h5>
<h5>9. Ouattara Fréderic, Professeur Titulaire en Physique, Hélio physique, Université Norbert ZONGO, Koudougou, Burkina 
Faso</h5>
<h5>10. Moumoula Issa Abdou, Professeur Titulaire en Psychologie de l’orientation, Université Norbert Zongo, Koudougou, 
Burkina Faso.</h5>
<h5>11. Sawadogo François, Maître de Conférences en Psychologie cognitive des apprentissages, Université Norbert Zongo, 
Koudougou, Burkina Faso</h5>
<h5>12. Somé Magloire, Professeur Titulaire en Histoire religieuse contemporaine, Université Joseph Ki-Zerbo, Ouagadougou, 
Burkina Faso</h5>
<h5>13. Gomgnimbou Moustapha, Directeur de Recherche en Histoire, CNRST/INSS, Ouagadougou, Burkina Faso.
</h5>
<h5>14. Sedogo Vincent, Maître de Recherche en Histoire Africaine, CNRST/INSS, Ouagadougou, Burkina Faso
</h5>
<h5>15. Ouédraogo Alain, Maître de Recherche, Linguiste, Ouagadougou, Burkina Faso 
</h5>
<h5>16. Somé Zomomenibé Maxime, Professeur Titulaire en linguistique, Université Norbert ZONGO, Koudougou, Burkina 
Faso </h5>
<h5>17. Sanogo Mamadou Lamine, Directeur de Recherche enSociolinguistique, INSS/CNRST, Ouagadougou, Burkina 
Faso</h5>
<h5>18. Sanou Salaka, Professeur Titulaire en Littératures africaines, Ouagadougou, Burkina Faso
</h5>
<h5>19. Georges Sawadogo, Professeur Titulaire en Lettres et Sciences Humaines, Université Norbert ZONGO, Koudougou, 
Burkina Faso</h5>
<h5>20. Dakouo Yves, Professeur Titulaire en Sciences du langage, Université Joseph Ki-Zerbo, Ouagadougou, Burkina Faso
</h5>
<h5>21. Ouédraogo Albert, Professeur Titulaire en Littérature orale, Ouagadougou, Burkina Faso 
</h5>
<h5>22. Sissao Alain, Directeur de recherche en Littérature africaine, INSS/CNSRT, Ouagadougou, Burkina Faso
</h5>
<h5>23. Kouakou Jean Marie Gaudouh, Professeur Titulaire en Littérature et civilisation françaises, Université, Félix 
Houphouët-Boigny, Cocody, Abidjan, Côte d’Ivoire</h5>
<h5>24. Kamaté Banhouman est Professeur Titulaire en Actions Culturelles et Arts du Spectacle, Université, Félix HouphouëtBoigny, Cocody, Abidjan, Côte d’Ivoire
</h5>
<h5>25. Konan Yao Lambert, Professeur Titulaire en Littérature orale africaine, Université Alassane OUATTARA, Bouaké, 
Côte d’Ivoire</h5>
<h5>26. Djah Célestin Dadié, Professeur Titulaire en Littérature, Université Alassane OUATTARA, Bouaké, Côte d’Ivoire
</h5>
<h5>27. Sare/Mare Honorine, Maître de Conférences en Littérature, roman, Université Joseph Ki-Zerbo, Ouagadougou, Burkina 
Faso</h5>
<h5>28. Paré/Kaboré Afsata, Professeur Titulaire en Sciences de l’Education, Université Norbert ZONGO, Koudougou, Burkina 
Faso</h5>
<h5>29. Valléan Tindaogo Félix, Professeur Titulaire en Sciences de l’Education, Ecole Normale Supérieure, Koudougou, 
Burkina Faso</h5>
<h5>30. Bationo Jean-Claude, Professeur Titulaire en Didactique des Langues et des Cultures, Ecole Normale Supérieure, 
Burkina Faso</h5>
<h5>31. Traoré Kalifa, Professeur Titulaire en Didactique des mathématiques, Ecole Normale Supérieure, Koudougou, Burkina 
Faso</h5>
<h5>32. Maiga Windkouni Haoua Eugenie, Professeure Titulaire, Economie du développement, Agrégée en Economie, 
Université Norbert ZONGO, Koudougou, Burkina Faso</h5>
<h5>
33. Ouédraogo Mahamadou Lamine, Professeur Titulaire en Sciences du Langage, Université Norbert ZONGO,
Koudougou, Burkina Faso</h5>
<h5>34. PITROIPA Bangre Yamba, Professeur Titulaire, Sociolinguistique et ethnolinguistique, Université Norbert ZONGO, 
Koudougou, Burkina Faso </h5>
<h5>35. Diarra Mahamoudou, Maître de Conférences, Agrégé́ en économie, Université Norbert ZONGO, Koudougou, Burkina 
Faso </h5>
<h5>36. Ouédraogo Amadé, Professeur Titulaire en Biologie et écologie végétales, Université Joseph Ki-Zerbo, Ouagadougou, 
Burkina Faso</h5>
<h5>37. Ouoba Paulin, Maître de Conférences en Biologie et écologie végétales, Université Nazi Boni, Bobo Dioulasso, Burkina 
Faso</h5>
<h5>38. Bassané Ernest, Maître de Conférences en Culturologie, Culture et littératures africaines, Université Norbert ZONGO, 
Koudougou, Burkina Faso</h5>
<h5>39. Yaméogo Kandayinga Landry Guy Gabriel, Maître de Conférences en Sciences du Langage Université Norbert 
ZONGO, Koudougou, Burkina Faso</h5>
<h5>40. Zongo Alain Casimir, Maître de Conférences en Philosophie, Université Norbert ZONGO, Koudougou, Burkina Faso 
</h5>
<h5>41. Issa Sory, Maître de Conférences en Géographie urbaine, Université Norbert ZONGO, Koudougou, Burkina Faso 
</h5>
<h5>42. Edwige Zagré/Kaboré, Maître de Conférences en Histoire de l’art, Université Norbert ZONGO, Koudougou, Burkina 
Faso </h5>
<h5>43. Adama Tomé, Maître de Conférences en Histoire de l’art, Université Norbert ZONGO, Koudougou, Burkina Faso 
</h5>
<h5>44. Aboubacar BARRY, Maître de Conférences en Psychologie clinique et psychopathologie, Université Norbert ZONGO, 
Koudougou, Burkina Faso </h5>
<h5>45. Bougouma Moussa, Maître de Conférences en Chimie Physique et Electrochimie, , Université Norbert ZONGO, 
Koudougou, Burkina Faso</h5>
        </em>
    </div>
</div>



















