<div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p><h4>Université Norbert ZONGO</h4></p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><h4>ouatvince@yahoo.fr</h4></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Numéro en cas de bésoin d'information :</h4>
                  <p><h4>Tel. (00226) 70 14 17 52 / 76 34 32 94</h4></p>
                
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Numéro en cas de problème avec le site, d'inscription,  de connection ou en cas de besoin de guide contacté un administrateur :</h4>
                  
                  <p>
                  <h4>Tel. (00226) 56 88 52 37</h4>
                  <h4>Tel. (00226) 65 08 69 98 / 63 63 50 20</h4>
                  </p>
                
              </div>

            </div>