
        <div class="row">
            <div class="card p-5">
              
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Date limite pour soumettre une proposition de communication : 30 Juillet 2023.</h4>
                <h5> Les propositions de communication doivent comporter le nom et le prénom du ou des communicants, 
                  l’adresse électronique et téléphonique, le statut professionnel, le grade et l’institution de rattache.</h5>
              </div>
            </div>
          </div>

            <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Date d’ouverture des inscriptions pour la participation: 10 février 2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Notification d’acceptation du résumé de communication: au plus tard le 30 août 2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Date d’ouverture de paiement des frais de participation : 30 août 2023</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Date de fermeture des paiements : 10 septembre 2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Diffusion du programme détaillé en ligne : 15 septembre 2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Date du Colloque international : du jeudi 05 octobre au samedi 07 octobre 2023.</h4>
                <h5>Les communications se 
                  dérouleront au sein de l’Université Norbert ZONGO au Burkina Faso en présentiel et en visioconférence. 
                  Les propositions de communication doivent comporter le nom et le prénom du ou des communicants, 
                  l’adresse électronique et téléphonique, le statut professionnel, le grade et l’institution de rattache.</h5>
              </div>
            </div>
          </div>

            <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Textes finalisés et envoi aux instructeurs : 30 octobre2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Retour des instructions : 30 novembre2023.</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Retour des textes finalisés des auteurs : Décembre 2023.</h4>
                <h5>Les différentes contributions doivent respecter les normes éditoriales de présentation des articles en 
                  vigueur au CAMES</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-info">
                <h4> Parution des actes du colloque : 2024.</h4>
              </div>
            </div>
          </div>

            </div>