
          <div><h2>Initiateur du Colloque :</h2><br></div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <h3>OUATTARA Vincent </h3>
          <div class="container">
            <p>Professeur Titulaire en Culturologie, Cultures et Littératures africaines écrites
            Université Norbert ZONGO
            Laboratoire Langues, Lettres, Art et Communication
            Tel. (00226) 70 14 17 52 / 76 34 32 94
            Email : ouatvince@yahoo.fr
            </p>
          </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <h3>KIBORA Ouhonyioué Ludovic</h3>
          <div class="container">
            <p>Directeur de Recherche en Anthropologie sociale et culturelle, 
            INSS/CNRST, Ouagadougou
            Tél ; (00226) 70 09 24
            Email : akomemane@gmail.com
            </p>
          </div>
          </div>

<div>
  <div class="card p-3">
    <h2>Partenaires : </h2>
  <h4>
    -	Laboratoire Langues, Lettres, Arts et Communication – LABOLAC, Université Norbert ZONGO
  </h4>
  <h4>
  -	Ecole doctorale Lettres, Arts, Sciences humaines et sociales – LACOSHS, Université Norbert ZONGO
  </h4>
    <h4>
    -	Laboratoire de Recherche Patrimoine et Développement durable. LR PDD, Institut des Sciences des Sociétés / Centre national de la Recherche scientifique et technologique (INSS/CNRST)
  </h4>
  </div>
</div>