
        <div class="row">
          <div class="card p-5">
            <div class="content">
              <div class="row">
                <div class="col-lg-6">
                  <br><br><br><br><br><br><div class="card p-3">
                    <div class="text-center" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{{ asset("fichiers/img/parain.png") }}" class="img-fluid animated" width="300px" alt="Image du parrain Naaba  Saaga1er">
                  </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card p-3">
                    <h4>
                  Chef traditionnel Burkinabè. Modeste YAMEOGO à l’état civil est né le 9 juin 1958 à Koudougou
                  dans une famille de chef dans le quartier Issouka. Diplômé de Sociologie et de Communication,
                  à l’Université de Ouagadougou et de Bordeaux III,  Il a travaillé comme communicateur à l’UNICEF
                  pendant de nombreuses années. Il a été intronisé chef de son  quartier en 2005. Passionné par la  
                  culture du peuple Moagha auquel il appartient, il a créé un Musée ethnographique  et un Palais  
                  bâtis tout en matériaux locaux en voute Nubienne dans sa ville qui Reçoivent de nombreux visiteurs 
                  élèves, étudiants et diplomates. Pour redonner du crédit à la chefferie traditionnelle il met en 
                  place  une Association de Chefs traditionnels apolitique  Songnaam qui s’implique fortement dans 
                  la résolution des conflits  et la promotion de la paix  dans sa ville. Il a intronisé la première  
                  femme traditionnelle cheffe  pour contribuer à la promotion des droits de la femme et des valeurs
                  culturelles positives de son pays.  Marié à Suzanne OUANDAOGO une Universitaire hydrogéologue, 
                  ils ont deux garçons et une fille. 
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>