
        <div class="card p-5">
          <ul>
            <li><h3>Enseignants-chercheurs et chercheurs : 50 000 francs CFA (ou équivalent) </h3></li>
            <li><h3>Doctorants : 15 000 francs CFA.</h3></li>
          </ul>
          <h4>Cette contribution prend en compte les pauses-café, les déjeuners et le kit de participant. </h4>
          <h4>Les paiements peuvent se faire par : </h4>
          <h4>
            <ul>
            <li> Western Union</li>
            <li> Orange money</li>
          </ul>
          </h4>
          <h4>Par orange money, prière contacté le numéro :</h4>
          <h4>
            <ul>
            <li>+226 76 34 32 94</li>
          </ul>
          </h4>
          <h4>Les frais d’hébergement et de transport seront à la charge des participants.</h4>
           <strong>NB: Vous voudriez bien confirmer l’envoi par message SMS ou capture 
          d’écran, la preuve de votre payement.</strong> 
        </div>
