
        <div class="card p-5">
          <ul>
            <li><h5>Enseignants-chercheurs et chercheurs : 50 000 francs CFA (ou équivalent).</h5></li>
            <li><h5>Doctorants : 15 000 francs CFA.</h5></li>
          </ul>
          <p>Cette contribution prend en compte les pauses-café, les déjeuners et le kit de participant.</p>
          <p>Les paiements peuvent se faire par</p>
          <ul>
            <li> Par Western Union</li>
            <li> Par Orange money</li>
          </ul>
          <p>Aux numéros suivants :</p>
          <ul>
            <li>+2268988989</li>
            <li>+2260656579</li>
          </ul>
          <p>Les frais d’hébergement et de transport seront à la charge des participants</p>
           <strong>NB: Vous voudriez bien confirmer l’envoi par message SMS ou capture 
          d’écran.Soit lors de l'inscription ou plutard dans votre compte apres inscription</strong> 
        </div>
