<div class="container">
 
<div>
	<div class="card p-3">
		<h4>
			-	Laboratoire Langues, Lettres, Arts et Communication – LABOLAC, Université Norbert ZONGO
		</h4>
		<h4>
			-	Ecole doctorale Lettres, Arts, Sciences humaines et sociales – LACOSHS, Université Norbert ZONGO
		</h4>
		<h4>
			-	Laboratoire de Recherche Patrimoine et Développement durable. LR PDD, Institut des Sciences des Sociétés / Centre national de la Recherche scientifique et technologique (INSS/CNRST)
		</h4>		
	</div>
</div>

</div>