
        <div class="card p-5">
          <ul>
            <li><h3>Enseignants-chercheurs et chercheurs : 50 000 francs CFA (ou équivalent).</h3></li>
            <li><h3>Doctorants : 15 000 francs CFA.</h3></li>
          </ul>
          <h4>Cette contribution prend en compte les pauses-café, les déjeuners et le kit de participant.</h4>
          <h4>Les paiements peuvent se faire par</h4>
          <h4>
            <ul>
            <li> Par Western Union</li>
            <li> Par Orange money</li>
          </ul>
          </h4>
          <h4>Aux numéros suivants :</h4>
          <h4>
            <ul>
            <li>+2268988989</li>
            <li>+2260656579</li>
          </ul>
          </h4>
          <h4>Les frais d’hébergement et de transport seront à la charge des participants</h4>
           <strong>NB: Vous voudriez bien confirmer l’envoi par message SMS ou capture 
          d’écran.Soit lors de l'inscription ou plutard dans votre compte apres inscription</strong> 
        </div>
