<div class="container">
  <div>
	<h2></h2>
</div><br>
<div>
<h3>  <em>Vincent OUATTARA est enseignant chercheur à l’Université Norbert ZONGO. Il a occupé plusieurs responsabilités notamment :</h3><br>
</div>
<div class="card p-3">
	<h4>
		-	2021-2022 : Directeur Général Adjoint Chargé de la Formation et des Innovations pédagogiques de l’Ecole normale supérieure – Koudougou – Burkina Faso
	</h4>

	<h4>
		-	2018- 2021 : Directeur de l’Ecole doctorale Lettres, Arts, Communication, Sciences humaines et sociales (LACOSHS), Université de Koudougou.
	</h4>

	<h4>
		-	2016-2018 : Directeur adjoint du Laboratoire de recherche en Lettres, langues, Arts, Communication, Sciences humaines et sociales (LABOLAC) ;
	</h4>

	<h4>
		-	2013-2019 : Directeur de publication de la Revue WIIRE de Langues, Arts, Sciences humaines et sociales - Université Norbert Zongo - Koudougou ;
	</h4>

	<h4>
		-	2012-2015: Directeur du service de la Promotion des Enseignants et des Relations avec le Conseil africain et Malgache pour l’Enseignement Supérieur (SPE/CAMES) de l’Université de Koudougou par arrêté n° 2012-00014/MESS/SG/DRH du 4 avril 2012
	</h4>

	<h4>
		-	2013-2015 : Chef de Cabinet de la Présidence de l’Université de Koudougou par arrêté n°2013/MESS/SG/UK/P portant nomination du Chef de Cabinet
	</h4>

	<h4>
		-	2009-2011 : Directeur-Adjoint de l’UFR/ Lettres et Sciences humaines par arrêté n°2009-0012/MESSRS/SG/UK du 19 mars 2009
	</h4>

	<h4>
		-	2005-2007 : Conseiller en communication du journal du Centre d’information, de formation et de recherche Action sur la femme (CIFRAF), Ministère de la promotion de la femme ;
	</h4>

	<h4>
		-	2003-2004. Consultant du Fonds national pour l’Alphabétisation et l’Education non formelle (FONAEF). Le mandat a confié au mandataire, le mandat relatif au comptage physique des centres dans le cadre du suivi évaluation des activités du FONAEF. Le défi majeur à relever était le suivi accompagnement technique des opérateurs pour garantir le succès de la campagne d’alphabétisation ;
	</h4>
</div>

</div>