<div class="container">
 

<div class="card p-3">
	<h4 style="text-indent: 100px">Ludovic Ouhonyioué Kibora est l’actuel directeur de l’Institut des Sciences des Sociétés (depuis 2015) du Centre national de la Recherche scientifique et technologique (INSS/CNRST). Il est expert / facilitateur Unesco pour le renforcement des capacités dans le domaine du patrimoine culturel immatériel depuis 2011, Vice-président de l’Association pour l’anthropologie du changement social et du développement (APAD) depuis 2013, membre du MANSA, l’Association des Etudes Mandé, du réseau international Programme Point Sud pour la recherche et membre fondateur de l’association Burkinabé des critiques cinématographique du Burkina (ASCRIC-B). Il explore les thématiques de sécurité, de conflits communautaires, de démocratie, de corruption, de culture et savoirs endogènes et entretient des collaborations scientifiques avec : l’Institut Point Sud, l’Institut des Sciences Humaines et Faculté des Lettres et Sciences Humaines de Bamako (Mali), l’Université d’Uppsala (Suède), l’Université de Francfort (Allemagne), l’Institut des Mondes Africains (France), l’Université Alassane Ouattara de Bouaké (Côte d’Ivoire), l’Institut Régional d’Enseignement Supérieur et de Recherche en Développement Culturel (IRES-RDEC ) et l’Université de Lomé (Togo)</h4>
</div>

</div>