<div class="card p-5">
            <div class="content">
            <h5><p>Afouda Armand, 2013, ‘‘Faiseurs de pluie’’ : «les précipitations artificielles selon les méthodes 
            ‘‘traditionnelles’’ et selon la technologie moderne », in Paulin J. Hountondji (sld.), L’ancien et le nouveau. La 
            production du savoir dans l’Afrique d’aujourd’hui ? Langaa RPCIG.</p></h5>
            <h5><p>Barthélémy Carole, mai 2005, « Les savoirs locaux : entre connaissances et reconnaissance », VertigO - la revue 
électronique en sciences de l'environnement [En ligne], Volume 6 Numéro 1|, mis en ligne le 01 mai 2005, 
consulté le 26 juillet 2022. URL : http://journals.openedition.org/vertigo/2997; DOI : 
https://doi.org/10.4000/vertigo.2997</p></h5>

            <h5><p>Dialla Basga Emile,2005, Pratiques et savoirspaysans au BurkinaFaso: Uneprésentationdequelquesétudesde
cas, Ouagadougou, Centre d'analyse des politiques économiques et sociales.</p></h5>
            <h5><p>Dialla Basga Emile,2004, Les savoirs locaux : un capital culturel souvent occulté, Ouagadougou,DT-CAPES 
N°2004-11.</p></h5>
            <h5><p>Knight Gregory, 1974, « Ecology and change : Rural modernization», in an African community, New York: 
AcademyPress</p></h5>
            <h5><p>FAO (2002) Food insecurity: When people must live with hunger and fear starvation. The state of food insecurity 
in the world2002. FAO. Rome, Italy.</p></h5>
            <h5><p>HountondjiPaulin J., 1994, Les savoirs endogènes : pistes pour une recherche. Dakar: Codesria.</p></h5>
            <h5><p>Ki-ZERBO Joseph, 2010, A propos de culture, Ouagadougou, Fondation Joseph Ki-Zerbo</p></h5>
            <h5><p>Moussavou Raymonde, 2012, L’intégration des savoirs endogènes dans les cours de sciences au Gabon : Points 
de vue d’enseignants et d’enseignantes en formation(Doctorat). Université Laval, Québec. En ligne 
àhttp://theses.ulaval.ca.acces.bibl.ulaval.ca/archimede/meta/28663, consulté le 26 février 2016.</p></h5>
            <h5><p>« Notes sur les Connaissances Autochtones, Développement des Savoirs Développement des Savoirs Locaux en 
Afrique Francophone Situation dans Quatre Pays », NOTES CA, Banque mondiale No.42Mars 2002, Editeur IK 
Notes, Knowledge and Learning Center, Africa Region, World Bank, 1818 H Street, N.W., Room J5-171, 
Washington D.C. 20433.</p></h5>
            <h5><p>Rondeau Dany, « La place des savoirs locaux (endogènes) dans la cité globale. Essai de justification », in La 
contribution des savoirs locaux à l’éthique, au politique et au droit, Sous la direction de E.-M. Mbonda et D. 
Rondeau (dir.), Québec : Presses de l’Université Laval, 2015.</p></h5>
            <h5><p>Tchonang Gabriel, « Quelle mystique pour la renaissance africaine ? » Volume 21, numéro 2, 2013, Éditeur(s) 
Faculté de théologie et de sciences des religions, Université de Montréal ISS</p></h5>
            <h5><p>Thomas Hervé Mboa Nkoudou, «Stratégies de valorisation des savoirs locaux africains : questions et enjeux liés 
à l’usage du numérique au Cameroun», Éthique publique [En ligne], vol. 17, n° 2| 2015.</p></h5>
            <h5><p>UNESCO, 2003, Les systèmes de savoirs locaux et autochtones. Http// portail.unesco.org/ science/fr / ev. php . 
URL_ID : 2031 & URL_DO= DO_ TROPICAL & URL_ SECTION=201. Html. Visité le 08 juillet 2008.</p></h5>
            <h5><p>Van Der Velden Maja, 2006,« A License to Know : Regulatory Tactics of a Global Network», Cultural Attitudes 
Towards Technology and Communication,School of Information Technology, Murdoch University.</p></h5>
          </div>
          </div>