{% extends 'base.user.html.twig' %}

{% block title %}Discussion avec un utilisateur
{% endblock %}

{% block page %}
	<div class="pagetitle">
		<h1>Discussion</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Discussion</a>
				</li>
				<li class="breadcrumb-item active"></li>
			</ol>
		</nav>
	</div>
{% endblock %}

{% block body %}
	<div class="card-body">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="clearfix mb-3">
						<div class="col-lg-6">
							<h2 class="card-titl">Discussion avec les Utilisateur</h2>
						</div>
						<div class="col-lg-6">
							<a href="" class="btn btn-outline-primary btn btn-sm float-rigth">Commencer un discussion</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bordered Table -->
		<section class="section">
			<div class="row align-items-top">
				<div class="card p-5">
					<div
						class="col-lg-6">

						<div class="card alert alert-secondary">
							<div class="card-body">
								<h3 class="card-titl">Mon maessage en tant que adminisateur</h3><hr>
								<h4>Ut in ea error laudantium quas omnis officia. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
								</h4>
								<span class='float-rigth'>
									<strong>Repondu le : 8/90/2200</strong>
								</span>
							</div><br>
							<!-- End Default Card -->
						</div>

						<!-- Default Card -->
						<div class="card p-2">
							<div class="card-body">
								<h3 class="card-titl">Message de l'utilisateur</h3><hr>
								<h4>Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
								</h4>
								<span class='float-rigth'>
									<strong>Envoyez le : 7/00/2200</strong>
								</span>
							</div><br>
							<!-- End Default Card -->
						</div>



						<div class="card-body">
							<h4>
								<a href="" class="btn btn-primary">Repondre</a>
							</h4>
							<!-- End Default Card -->
						</div>
					</div>
				</div>
			</section>
		</div>

	{% endblock %}
