{% extends 'base.admin.html.twig' %}

{% block title %}Editer l'inscription de {{ exposant.prenom }} {{ exposant.nom }}{% endblock %}

{% block body %}
    
              <!-- List group With Icons -->

            <div class="card p-4">
            <div class="container">
            <div class="row g-3 needs-validation" novalidate>

              {{ form(form) }}
            </div>
            </div>
            </div>
          
{% endblock %}
